.backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0 0 0 / 0.4);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  position: relative;
  width: 64px;
  height: 64px;
  background-color: var(--color-background);
  transform: rotate(45deg);
  overflow: hidden;
}
.loader:after{
  content: '';
  position: absolute;
  inset: 8px;
  margin: auto;
  background: var(--color-background);
}
.loader:before{
  content: '';
  position: absolute;
  inset: -15px;
  margin: auto;
  background: var(--color-primary);
  animation: diamondLoader 1s linear infinite;
}
@keyframes diamondLoader {
  0%  ,10% {
    transform: translate(-64px , -64px) rotate(-45deg)
  }
  90% , 100% {
    transform: translate(0px , 0px) rotate(-45deg)
  }
}