.main-layout {
  height: 100dvh;
  display: flex;
  flex-direction: column;
}

.main-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 20px;
  overflow-y: auto;
}

.main {
  padding-inline: 20px;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 15px 10px;
  text-align: center;
  font-size: 15px;
  color: var(--color-text);
  background-color: transparent;
  opacity: 0.7;
}
