.main-layout {
  display: flex;
  flex-direction: column;
  height: 100dvh;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 1.25rem;
  height: 100%;
  overflow-y: auto;
}

.main {
  padding-inline: 1.25rem;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0.9375rem 0.625rem;
  font-size: 0.9375rem;
  text-align: center;
  opacity: 0.7;
  color: var(--color-text);
  background-color: transparent;
}

.footer a {
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}
