.main-wrapper::-webkit-scrollbar {
  width: 4px;
  background-color: transparent;
  transition-duration: 0.2s;
  border-radius: 10px;
}

.main-wrapper::-webkit-scrollbar-thumb {
  background-color: #61dafb;
  border-radius: 10px;
}

.main-wrapper::-webkit-scrollbar-track {
  border-radius: 10px;
}

.main-layout {
  display: flex;
  flex-direction: column;
  height: 100dvh;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: auto;
}

.main {
  flex-grow: 1;
  padding-inline: 1.25rem;
  display: flex;
  flex-direction: column;
}

.footer {
  flex-shrink: 0;
  text-align: center;
  padding: 0.9375rem 0.625rem;
  font-size: 0.9375rem;
  color: var(--color-text);
  background-color: transparent;
  opacity: 0.7;
}

.footer a {
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}
