.question-card-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
  padding: 2rem;
  transition: background-color var(--transition-base);
}

@media (max-width: 600px) {
  .question-card-list {
    padding: 1rem;
    gap: 1rem;
  }
}

.question-card-list .question-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

