.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 30px;
  width: 100%;
  height: 70px;
  background-color: var(--color-background);
  box-shadow: 0 2px 8px 0 rgba(0 0 0 / 0.2);
}

.header-actions {
  display: flex;
  gap: 10px;
}
