@import '@a1rth/css-normalize';
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --color-primary: #61dafb;
  --color-secondary: #007acc;
  --color-background: #f9fafb;
  --color-text: #1e1e1e;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: #61dafb;
    --color-secondary: #3b82f6;
    --color-background: #0d1117;
    --color-text: #e6edf3;
  }
}

body {
  font-family: 'Inter', system-ui, sans-serif;
  color: var(--color-text);
  background-color: var(--color-background);
}

a {
  color: inherit;
}
